<section class="list">
  <h2>{{ title | uppercase }}</h2>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="openDialog()">
      Добавить
    </button>
  </div>

  <div class="table">
    <table class="iksweb">
      <tbody>
        <tr>
          <td>Заголовок</td>
          <td>Название</td>
          <td>Работник</td>
          <td>Дедлайн</td>
          <td>Статус</td>
          <td>Приоритет</td>
        </tr>
        @for (property of tasks; track $index) {
        <tr>
          <td>{{ property.header }}</td>
          <td>{{ property.title }}</td>
          <td>{{ property.worker }}</td>
          <td>{{ property.deadline }}</td>
          <td>{{ property.status }}</td>
          <td>{{ property.priority }}</td>
          <td>
            <button
              mat-fab
              color="warn"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td>
            <button
              mat-fab
              color="basic"
              aria-label="Example icon button with a vertical three dot icon"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</section>
