<section class="list">
  <h2>{{ title | uppercase }}</h2>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="openDialog()">
      Добавить
    </button>
  </div>

  <div class="table">
    <table class="iksweb">
      <tbody>
        <tr>
          <td>Название</td>
          <td>Работник</td>
          <td>Дедлайн</td>
          <td>Статус</td>
          <td>Приоритет</td>
        </tr>
        @for (property of testTask; track $index) {
        <tr>
          <td>{{ property.title }}</td>
          <td>{{ property.worker }}</td>
          <td>{{ property.deadline }}</td>
          <td>{{ property.status }}</td>
          <td>{{ property.priority }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</section>
