<div mat-dialog-title>
  <h1>Создание задачи</h1>
</div>
<form [formGroup]="formDialog" (submit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Заголовок</mat-label>
        <input matInput formControlName="header" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Название</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Дедлайн</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="deadline" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Приоритет</mat-label>
        <mat-select formControlName="priority">
          @for (priority of priorities; track priority) {
          <mat-option [value]="priority">{{ priority }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Статус</mat-label>
        <mat-select formControlName="status">
          @for (status of statuses; track status) {
          <mat-option [value]="status">{{ status }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Исполнители</mat-label>
        <input matInput formControlName="worker" />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="buttons">
    <button mat-raised-button color="primary">Сохранить</button>
    <button mat-raised-button color="warn" type="submit">Отмена</button>
  </div>
</form>
