.content {
  padding-bottom: 10px;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  mat-form-field {
    width: 100%;
  }
}

.buttons {
  align-content: space-between;
  padding: 0px 25px 0px;
  button {
    flex: 1;
  }
}
