.content {
  padding-bottom: 10px;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  mat-form-field {
    width: 100%;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  button {
    width: 48%;
  }
}
